python-dotenv
python-telegram-bot
python-telegram-bot[webhooks]
crewai
crewai-tools
openai
ddgs
pytz
pillow
pydub
qdrant-client
google-cloud-firestore

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2


#Dependencias de litellm. No instalamos litellm[proxy] porque nos mete en un bule con crewai-tools
litellm
fastapi
uvicorn
apscheduler
gunicorn
orjson
requests
email-validator
fastapi-sso
httpx