python-dotenv
python-telegram-bot
python-telegram-bot[webhooks]
crewai
crewai-tools
openai
duckduckgo-search
pytz
chromadb
google-cloud-firestore


#Dependencias de litellm. No instalamos litellm[proxy] porque nos mete en un bule con crewai-tools
litellm
fastapi
uvicorn
apscheduler
gunicorn
orjson
requests
email-validator
fastapi-sso